.facebookIcon {
  height: 2rem;
  width: 2rem;
}

.instagramIcon {
  height: 2rem;
  width: 2rem;
}

.nav-item {
  margin: 0px 10px 0px 10px;
}

.home-page {
  margin-left: 200px;
}

.navbar {
  z-index: 1;
}

.nokDonutLogo {
  float: left;
  margin-right: 15%;
}

.eggs {
  float: right;
  width: 15rem;
  height: auto;
  margin-left: 4%;
}

.vanilla {
  position: absolute;
  width: 10rem;
  height: auto;
  right: 12px;
  margin-top: 25px;
}

.salt {
  width: 10rem;
  height: auto;
  float: right;
  margin-left: 10px;
  margin-top: 10px;
}

.shop {
  width: 25rem;
  height: auto;
  float: left;
  margin-right: 4%;
}

.menuStarting {
  text-align: center;
}

.menuInfo {
  font-size: 5rem;
  font-family: Niconne, cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cakeDonuts {
  margin-left: 5%;
}

.hotBeverages {
  margin-left: 5%;
}

.donutPic {
  margin-bottom: 30px;
  height: auto;
  width: 100px;
}

.donutType {
  text-align: center;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

p {
  font-size: 1.1rem;
  line-height: 1.7;
  font-family: Comfortaa;
}

h1 {
  font-size: 3.5rem;
  font-family: monospace;
  margin-bottom: 10%;
  color: green;
  margin-top: 10px;
}

body {
  background-color: #FDFD69;
}

h6 {
  font-family: Comfortaa;
  font-size: 1rem;
}

h2 {
  font-family: Niconne, cursive;
  font-size: 3rem;
}

.noPic {
  margin-bottom: 30px;
}

#bottomLine {
  margin-bottom: 10px;
}

.hotBeverages {
  margin-bottom: 60px;
}
